<%= form_with(model: user, url: update_user_info_user_path(user), local: true) do |f| %>

<% if user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      入力エラーが<%= user.errors.count %>件ありました。
    </div>
    <ul>
    <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.label :name, "名前" ,class: "form-label" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email, "メールアドレス" ,class: "form-label" %>
  <%= f.email_field :email, class: "form-control" %>
  
  <%= f.label :affiliation, "所属" ,class: "form-label" %>
  <%= f.text_field :affiliation, class: "form-control" %>
  
  <%= f.label :employee_number, "社員番号" ,class: "form-label" %>
  <%= f.number_field :employee_number, class: "form-control" %>
  
  <%= f.label :uid, "カード番号" ,class: "form-label" %>
  <%= f.text_field :uid, class: "form-control" %>

  <%= f.label :password, "パスワード" ,class: "form-label" %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, "パスワード確認" ,class: "form-label" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
  
  <%= f.label :basic_work_time, "基本勤務時間" ,class: "form-label" %>
  <%= f.time_field :basic_work_time, class: "form-control" %>
  
  <%= f.label :designated_work_start_time, "指定勤務開始時間" ,class: "form-label" %>
  <%= f.time_field :designated_work_start_time, class: "form-control" %>
  
  <%= f.label :designated_work_end_time, "指定勤務終了時間" ,class: "form-label" %>
  <%= f.time_field :designated_work_end_time, class: "form-control" %>

  <%= f.submit "更新", class: "btn btn-primary btn-block form-label" %>
<% end %>