<% provide(:title, 'All Users') %>

<h1>ユーザー一覧</h1>



<div class="col-md-10 col-md-offset-1">
  
<div class="name_form"> 
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file, class: "btn-file" %>
  <%= submit_tag "CSVをインポート", class: "btn btn-primary csv" %>
<% end %>
</div>
 
<h4 class="index-example">Example</h4> 


    <% @users.each do |user| %>
      <div class="user_list">
        <ul>
          <li><%= user.name %></li>
          <li>
            <% if current_user.admin? && !current_user?(user) %>
            | <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary delete" %>
            <% end %>
          </li>
          <li>
           
            <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user.id %>" class="btn btn-primary">編集</a>
                    </h4>
                  </div>
                  
                  <div id= "collapse<%=user.id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="row">  
                        <div class="col-md-12">
                          <%= render "user",{user: user} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          
          </li>
        </ul>
    <% end %>
  
  
 
  
</div>