<% provide(:button_text, '修正する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">拠点情報の修正</h1>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(scope: :base, url: update_base_info_path, method: :patch, local: true) do |f| %>
            
            <%= f.label :basenumber, "拠点番号" ,class: "label-base-info" %>
            <%= f.number_field :basenumber, class: "form-control" %>
            
            <%= f.label :basename, "拠点名" ,class: "label-base-info" %>
            <%= f.text_field :basename, class: "form-control" %>
            
            <%= f.label :basetype, "拠点種類" ,class: "label-base-info" %>
            <%= f.text_field :basetype, class: "form-control" %>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-base-info" %>
             
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">
        閉じる
       </button>
    </div>
  </div>
</div>