<h1>拠点情報一覧</h1>

<table class="table table-bordered table-condensed user-table">
  
  
  <thead>
    <tr>
    <td></td>
    <td></td>
    <td><b>拠点番号</b></td>
    <td><b>拠点名</b></td>
    <td><b>拠点種類</b></td>
    </tr>
  </thead>
  
  <tbody>
    <% @bases.each do |base| %>   
    <tr>
    <td>
      <% if current_user.admin? %>
        <%= link_to "修正", edit_base_info_path(id: base.id), remote: true, class: "btn btn-primary" %>
      <% end %>
    </td>
    <td>
      <% if current_user.admin? %>
        <%= link_to "削除", destroy_path(id: base.id), method: :delete,
        data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
      <% end %>
      
    </td>
    <td><%= base.basenumber %></td>
    <td><%= base.basename %></td>
    <td><%= base.basetype %></td>
    </tr>
    <% end %>
  </tbody>


</table>

<%= link_to "拠点情報の追加", base_info_path , remote: true, class: "btn btn-primary" %>

<!--モーダルウインドウ表示-->
<div id="base_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_base_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>